
<!-- content -->
<article id="content">
  <section class="col1">

    <div class="wrapper pad_bot2">
      <figure class="left marg_right1">
        <%= render :partial => "edit_profile", :locals => {:user => current_user } %>
      </figure>
      
    </div>
    
  </section>
  <section class="col2">
    <%= render :partial => 'home/content' %>
  </section>
</article>
<!-- / content -->

