<%#= render :partial => 'home/jobs', :locals => {:user => current_user, :jobs =>  }%>
 
 
<div >
	<h3 style="color: #508514;margin-left: 32px;margin-top: -25px;">Jobs</h3>
	<% if @closed_jobs.present? %>

	    <% @closed_jobs.each do |job| %>
	    
	    	
	        <div id="job_list_home">
	            <%= link_to "#{job.title}", job_path(job.job_id), :style => "margin-left: 10px;color:cornflowerblue;" %>
	            
	            <br />
	            <div class="comment more" style="text-align: justify;">
	            	<%= job.description %>
	            </div>
	            <div class="p-spacer"></div>
	            
	            <div style="float: right;color: red;font-size:16px;font-weight:bold;">
				    <%= "This job is closed." %>
				</div>
	        	
	     		<div class="clear"></div>
	        </div>
	        <div class="clear"></div>
	    	<% end %>    
	    
	    <div class="p-spacer"></div>
	    <%= will_paginate @closed_jobs, :style => "margin-left: 35px" %>
	<% else %>
	    <h3 style="margin-left: 73px;" class="muted">No Closed jobs available.</h3>
	 <% end %>
	 <div class="p-spacer"></div>
	 <div class="clear"></div>
 </div>
 
