<%= form_for(current_user.profile, :url => update_user_info_path, :html => {:class => "form-horizontal", :method => :put, :remote => true }) do |f| %>
  <div id="modal_user_overview" class="modal hide fade" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h3>Update Profile Overview</h3>
    </div>	
    <div class="modal-body">
      <div class="control-group">
        <%= f.label :overview, :class =>"control-label" %>
        <div class="controls">
          <%= f.text_area(:overview, :rows => "3", :cols => "30")  %>
        </div>
      </div>
    </div> 
    <div class="modal-footer">
      <a href="#" class="btn" data-dismiss="modal">Close</a>
      <a href="#"><%= f.submit "Update", :class=>"btn btn-primary" %></a>
    </div> 
  </div>
<% end %>

<%#= link_to "Back", edit_user_info_path, :class => "back", :id => "back_to_previous", :remote => true %>

