<div id="searchresults" style="width: 40%;">
	<% unless @result_arr.nil? %>
		<% @result_arr.uniq.each do |user|  %>
			 
			<div style="border-bottom: 1px solid #D7D7D7;">
				<%= image_tag user.profile_picture.present? ? user.profile_picture : 'default_profile_image.png', :alt => "Profile Picture", :style => "border: solid 1px #CCC; width:62px; height:62px; float: left; " %>
				<div style="display: inline-block; padding: 5px;">
					<h1 id="p-title" class="fn left padding_username"><%= link_to "#{user.first_name} #{user.last_name}".titleize, :action => 'show_profile', :id => user.id %></h1>

					<span class="p-summary-tagline title" style="display: block;"><%= user.profile.tagline if user.profile.present? %></span>
				</div>
			</div>
			<br />
			<div class="clear"></div>
			
		<% end %>
	<% end %>
</div>