@charset "utf-8";
/* CSS Document */

#nav {width:100%; height:36px; background:#333333; text-align:center; position:relative; z-index:100; margin:2px auto;}
#nav ul {margin:0; padding:0; list-style:none; white-space:nowrap; text-align:left;}
#nav ul {display:inline-block;}
#nav ul {display:inline;}
#nav li {margin:0; padding:0; list-style:none;}
#nav li {display:inline-block; display:inline;}
#nav ul ul {position:absolute; left:-9999px;}
#nav ul.level1 {display:table; margin:0 auto;}
#nav ul.level1 li.level1-li {float:left; display:block; background:#333333; position:relative; z-index:100; border-right: 1px solid #e9e9e9;}
#nav ul.level1 li.first {border-left: 1px solid #e9e9e9;}
#nav ul.level1 li.level1-li:hover {display:inline-block; z-index:10;}
#nav ul.level1 {background:#fff;}
#nav ul ul {background:#12aeef; border:1px solid #ddd;}
#nav a {display:block; font:normal .9em/56px Helvetica, Arial, sans-serif; color:#999; text-decoration:none;padding:0 20px;}
#nav ul ul li a {color:#fff; line-height:56px; text-transform:none; font-weight:normal; border-bottom: 1px solid #f2f2f2;}
#nav ul ul li a:hover {background:#6dc7ec; color:#fff;}
#nav ul ul li a.last {border-bottom: none;}
#nav ul li:hover > ul {left:0; top:56px; z-index:-1;}
#nav ul li.left:hover > ul {left:auto; right:0; top:56px; z-index:-1;}
#nav ul li a:hover {background:#12aeef; color:#fff;}
#nav ul li:hover > a {background:#12aeef; color:#fff;}
#nav ul ul li a:hover {background:#6dc7ec; color:#fff;}
#nav ul ul li:hover > a {background:#6dc7ec; color:#fff;}